/* Calendario */
.calendario{
	border: 1px solid;
	border-radius: 10px;
}

.calendario ol{		/* Lista de días */
	list-style: none;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	padding: 0;
}

.calendario li{
	align-items: center;
	
}

.calendario hr{
	border: 1px solid #28AEFF;
	margin: 10px;
	background-color: #28AEFF;
}

.mes_titulo{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	margin: 10px;
}

.mes_titulo button {
	border-style: none;
	background-color: #fff;
}

.mes_titulo button:hover{
	background-color: #c0c0c0;
}

.mes_externo{
	color: #c0c0c0;
}

.day{
	width: 30px;
	height: 100%;
	align-items: center;
	display: inline-block;
	border-radius: 100%;
}

.today {
	background-color: #FF5B4F;
}

.show_calendar {
	text-align: center;
	border: 2px solid #FF5B4F;
	border-radius: 10px;
	margin-bottom: 5px;
}
.show_calendar button{
	border-style: none;
	background-color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}

